* {
    max-width: 1024px ;
    margin: auto;
    padding: 0;
    
}

.container {
    width: 100%;
    justify-content: center;
}

p {
    text-align: center;
    font-size: 60px;
    padding-top: 24px;
}